<div id="tutoria">
    <button style="text-align:center;height:110px;width:250px;background-color: Transparent; outline:none; border:none" onclick="location.href='{% url 'polls:s_detail' s %}'"> <font size="10">Tutoria</font> </button>
</div>

<div id="side">
    <input type="button" value="Search Tutor" onclick="location.href='{% url 'polls:t_list' %}'">
    </br>
</div>

<div id="content">
    {% if t %}
    <ul>

        <b>
            Are you sure to cancel this session?
            <b>Tutor's name: </b> {{ t.name }}</br>
            <b>Date: </b> {{ session.date }}</br>
            <b>Time: </b> {{ session.time }}</br
            </br>
    </ul>

    <input type="button" value="Confirm" onclick="location.href='{% url 'polls:s_detail' s %}'"></br>
    {% else %}
    <p>No tutors are available now.</p>
    {% endif %}

</div>

<style type="text/css">
    #tutoria {
        height: 120px;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
        font-weight: bold;
        background-color: #90EE90
    }

    #side {
        height: 800px;
        width: 200px;
        float: left;
        background-color: #cecece
    }

    #content {
        height: 800px;
        width: 940px;
        background-color: #fffaf3;
        float: left
    }
</style>